#example-editor {
  border: 1px solid black;
}

.ProseMirror {
  min-height: 140px;
  overflow-wrap: break-word;
  outline: none;
  padding: 10px;
  white-space: pre-wrap;
  max-width: 500px;
  width: 100%;
}

.insertion {
  background: #10c727;
}
.deletion {
  background: #ff0707;
}